label {
  display: block;
  margin-bottom: 10px;
}

fieldset {
  margin-bottom: 20px;
  padding-bottom: 0;
}

input[type="email"] {
  color: grey;
}

.radio {
  display: inline-block;
  margin-bottom: 0;
}

[block] {
  display: block;
  margin-bottom: 10px;
}
